[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
[submodule "awesome-shifty"]
	path = awesome-shifty
	url = git://github.com/cdump/awesome-shifty
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "obvious"]
	path = obvious
	url = https://github.com/hoelzro/obvious.git
[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious.git
